$font-path : "src/font" !default;

@font-face {
  font-family: 'courseicon';
  src: url('#{$font-path}/courseicon.eot?ksgkap');
  src: url('#{$font-path}/courseicon.eot?ksgkap#iefix') format('embedded-opentype'),
  url('#{$font-path}/courseicon.ttf?ksgkap') format('truetype'),
  url('#{$font-path}/courseicon.woff?ksgkap') format('woff'),
  url('#{$font-path}/courseicon.svg?ksgkap#courseicon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="nc-icon-"],
[class*=" nc-icon-"] {
  font-family: 'courseicon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.nc-icon-clock-solid:before {
  content: "\e92c";
}
.nc-icon-calendar:before {
  content: "\e92d";
}
.nc-icon-users:before {
  content: "\e92e";
}

.nc-icon-close-circle:before {
  content: "\e91e";
  color: #a9afb8;
}

.nc-icon-close-solid .path1:before {
  content: "\e91f";
  color: rgb(169, 175, 184);
}

.nc-icon-close-solid .path2:before {
  content: "\e920";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}

.nc-icon-book:before {
  content: "\e921";
}

.nc-icon-category:before {
  content: "\e922";
}

.nc-icon-certificate:before {
  content: "\e923";
}

.nc-icon-code:before {
  content: "\e924";
}

.nc-icon-pencil:before {
  content: "\e925";
}

.nc-icon-refresh:before {
  content: "\e926";
}

.nc-icon-saved:before {
  content: "\e927";
}

.nc-icon-shorting:before {
  content: "\e928";
}

.nc-icon-store:before {
  content: "\e929";
}

.nc-icon-wp:before {
  content: "\e92a";
}

.nc-icon-youtube:before {
  content: "\e92b";
}

.nc-icon-book-open:before {
  content: "\e91d";
}

.nc-icon-star:before {
  content: "\e91b";
  color: #d9dde3;
}

.nc-icon-share:before {
  content: "\e91c";
}

.nc-icon-clock:before {
  content: "\e916";
}

.nc-icon-play .path1:before {
  content: "\e917";
  color: rgb(127, 136, 149);
}

.nc-icon-play .path2:before {
  content: "\e918";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}

.nc-icon-arrow-left:before {
  content: "\e919";
}

.nc-icon-arrow-right:before {
  content: "\e91a";
}

.nc-icon-close:before {
  content: "\e915";
}

.nc-icon-arrow-bottom:before {
  content: "\e900";
}

.nc-icon-facebook:before {
  content: "\e901";
}

.nc-icon-instagram:before {
  content: "\e902";
}

.nc-icon-linkedin:before {
  content: "\e903";
}

.nc-icon-twitter:before {
  content: "\e904";
}

.nc-icon-tag:before {
  content: "\e905";
}

.nc-icon-eye-open:before {
  content: "\e906";
}

.nc-icon-eye-close:before {
  content: "\e907";
  color: #818c9a;
}

.nc-icon-prev:before {
  content: "\e908";
}

.nc-icon-next:before {
  content: "\e909";
}

.nc-icon-setting:before {
  content: "\e90a";
}

.nc-icon-page:before {
  content: "\e90b";
}

.nc-icon-horn:before {
  content: "\e90c";
}

.nc-icon-bag:before {
  content: "\e90d";
}

.nc-icon-paint:before {
  content: "\e90e";
}

.nc-icon-desktop:before {
  content: "\e90f";
}

.nc-icon-graduation:before {
  content: "\e910";
}

.nc-icon-sign-up:before {
  content: "\e911";
}

.nc-icon-login:before {
  content: "\e912";
}

.nc-icon-logout:before {
  content: "\e913";
}

.nc-icon-search:before {
  content: "\e914";
}

.nc-icon-white {
  color: #fff;
}

.nc-icon-gray {
  color: #a9afb8;
}

.nc-icon-dark {
  color: #29384e;
}

.nc-icon-blue {
  color: #007aff;
}

.nc-icon-orange {
  color: #ff9800;
}

.nc-icon-xs {
  font-size: 1.25rem;
}

.nc-icon-sm {
  font-size: 1.5rem;
}

.nc-icon-md {
  font-size: 1.75rem;
}

.nc-icon-lg {
  font-size: 2rem;
}