// Section Variant
// ex: .nc-section-white, .nc-section-soft, .nc-section-blue, .nc-section-dark

$section-colors: ("white", $clr-white, $clr-text-400, $clr-text-200),
("soft", $clr-soft-200, $clr-text-400, $clr-text-200),
("blue", $clr-grad-blue, $clr-white, $clr-text-soft),
("dark", $clr-dark-200, $clr-white, $clr-white),
("solid", none, $clr-white, $clr-text-soft),
("line", none, $clr-white, $clr-text-soft);

@each $color in $section-colors {
  .nc-section-#{nth($color,1)} {
    background: nth($color,2);
    display: flex;
    flex-direction: column;
    height: auto;
    padding: 60px 20px;
    width: 100%;

    &__title {
      @extend %font-40;
      color: nth($color,3);
      text-align: start;

      @include screen(desktop) {
        text-align: center;
      }
    }

    &__description {
      @extend %font-16;
      color: nth($color,4);
      margin-bottom: 4rem;
      width: 100%;

      @include screen(desktopLarge) {
        width: 70%;
      }

      &--md {
        width: 100%;

        @include screen(desktopLarge) {
          width: 80%;
        }
      }
    }
  }
}

// Section Position
.nc-section-center {
  display: flex;
  justify-content: unset;
  margin-bottom: 1rem;

  @include screen(desktop) {
    justify-content: center;
    margin-bottom: 4rem;
  }
}