// Section Variant
// ex: .nc-section-white, .nc-section-soft, .nc-section-blue, .nc-section-dark

$section-colors: ("white", $clr-white, $clr-text-400, $clr-text-200),
("soft", $clr-soft-200, $clr-text-400, $clr-text-200),
("blue", $clr-grad-blue, $clr-white, $clr-text-soft),
("dark", $clr-dark-200, $clr-white, $clr-white),
("solid", none, $clr-white, $clr-text-soft),
("line", none, $clr-white, $clr-text-soft);

@each $color in $section-colors {
  .nc-section-#{nth($color,1)} {
    background: nth($color,2);
    display: flex;
    flex-direction: column;
    height: auto;
    padding: 60px 20px;
    width: 100%;

    &__title {
      @extend %font-40;
      color: nth($color,3);
      text-align: start;

      @include screen(desktop) {
        text-align: center;
      }

      &--left {
        text-align: start;
      }
    }

    &__description {
      @extend %font-16;
      color: nth($color,4);
      margin-bottom: 4rem;
      width: 100%;

      @include screen(desktopLarge) {
        width: 70%;
      }

      &--md {
        width: 100%;

        @include screen(desktopLarge) {
          width: 80%;
        }
      }
    }
  }
}

// Section Position
.nc-section-center {
  display: flex;
  justify-content: unset;
  margin-bottom: 1rem;

  @include screen(desktop) {
    justify-content: center;
    margin-bottom: 2rem;
  }
}

.nc-section-left {
  display: flex;
  justify-content: unset;
  margin-bottom: 1rem;

  @include screen(desktop) {
    justify-content: start;
    margin-bottom: 2rem;
  }
}

.nc-section-flex {
  align-items: unset;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 2rem;

  @include screen(desktop) {
    align-items: center;
    flex-direction: unset;
  }

  &__wrapper {
    align-items: center;
    display: flex;
    gap: 1.5rem;
    justify-content: flex-start;

    @include screen(desktop) {
      justify-content: center;
    }
  }

  &__badge {
    @extend %font-16-bold;
    background-color: $clr-green-200;
    border: none;
    border-radius: 0.5rem;
    color: $clr-white;
    height: 2rem;
    padding: 0.375rem 0.625rem;
    width: auto;
  }

  &__link {
    @extend %font-16-bold;
    color: $clr-blue-200;
    cursor: pointer;

    &::after {
      content: url("data:image/svg+xml,%3Csvg width='8' height='12' viewBox='0 0 8 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.8297 5.28995L2.5897 1.04995C2.49674 0.95622 2.38613 0.881826 2.26428 0.831057C2.14242 0.780288 2.01171 0.75415 1.8797 0.75415C1.74769 0.75415 1.61698 0.780288 1.49512 0.831057C1.37326 0.881826 1.26266 0.95622 1.1697 1.04995C0.983448 1.23731 0.878906 1.49076 0.878906 1.75495C0.878906 2.01913 0.983448 2.27259 1.1697 2.45995L4.7097 5.99995L1.1697 9.53995C0.983448 9.72731 0.878906 9.98076 0.878906 10.2449C0.878906 10.5091 0.983448 10.7626 1.1697 10.9499C1.26314 11.0426 1.37395 11.116 1.49579 11.1657C1.61763 11.2155 1.74809 11.2407 1.8797 11.2399C2.01131 11.2407 2.14177 11.2155 2.26361 11.1657C2.38544 11.116 2.49626 11.0426 2.5897 10.9499L6.8297 6.70995C6.92343 6.61699 6.99782 6.50638 7.04859 6.38453C7.09936 6.26267 7.1255 6.13196 7.1255 5.99995C7.1255 5.86794 7.09936 5.73723 7.04859 5.61537C6.99782 5.49351 6.92343 5.38291 6.8297 5.28995Z' fill='%23007AFF'/%3E%3C/svg%3E");
      left: 1rem;
      position: relative;
      top: 2px;
    }

    &:hover {
      @extend %transition-2s;
      color: darken($clr-blue-200, 10%);
    }
  }
}