$shadows-black:         0 8px 10px rgba(18, 18, 18, 0.32);
$shadows-orange:    0px 8px 10px rgba(255, 176, 77, 0.32);
$shadows-red:        0px 8px 10px rgba(244, 54, 54, 0.32);
$shadows-green:      0px 8px 10px rgba(0, 191, 166, 0.32);
$shadows-blue:         0px 8px 10px rgba(0,125,255, 0.32);
$shadow-blue-soft:    0px 4px 6px rgba(0, 122, 255, 0.24);
$shadow-white:        0px 8px 32px rgba(0, 87, 178, 0.16);
$shadow-white-soft:   0px 8px 32px rgba(0, 87, 178, 0.08);
$shadow-soft:      -80px 80px 80px rgba(35, 44, 79, 0.05);
$shadow-dark:          0 6px 50px rgba(67, 71, 105, 0.25);
