/* Fix */
.co-navbar__top {
  padding: 1rem;
}

@media (min-width: 768px) {
  .co-navbar__top {
    padding: 2rem 1rem;
  }
}

.co-navbar__bottom {
  padding: 1rem;
}

.co-navbar__logo {
  height: auto;
  padding-right: 1.5rem;
  width: 100%;
}

.co-navbar__button {
  color: #fff;
  display: block;
  font-size: 0.875rem;
  font-weight: 700;
  height: calc(2.5rem + 2px);
  letter-spacing: 0.002rem;
  line-height: 1rem;
  padding: 0.75rem 2rem;
}

@media (min-width: 768px) {
  .co-navbar__button {
    display: inline-block;
    margin-bottom: 0;
    padding: 0.75rem 3rem;
  }
}

.co-navbar__form {
  border: 0;
  border-radius: 40px;
  height: calc(2.5rem + 2px);
  padding: 0.5rem 1.5rem;
  font-size: 1rem;
  line-height: 1.5;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .co-navbar__form {
    width: 210px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .co-navbar__form {
    width: 340px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .co-navbar__form {
    width: 520px;
  }
}

.co-navbar__category {
  background-color: #f5faff;
}

.co-navbar__category--list,
.co-navbar__category--title,
.co-navbar__category--title:not(.collapsed) {
  color: #29384e;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.005rem;
}

.co-navbar__category--title:not(.collapsed) {
  background-color: #f5faff;
  box-shadow: none;
}

/* .co-navbar__category-list--item {
  color: #7F8895;
} */

@media (min-width: 768px) {
  .co-navbar__category-list--item {
    display: block;
    margin: 0 0.875rem;
    padding: 0.5rem 2rem;
  }
}

.co-navbar__category-list--item:hover {
  background-color: none;
  border: 0;
  border-radius: 0;
}

@media (min-width: 768px) {
  .co-navbar__category-list--item:hover  {
    background-color: #DCE1E5;
    border-radius: 40px;
    padding: 0.5rem 2rem;
  }
}

.co-navbar__category-list.active {
  background-color: transparent;
  border: 0;
}

@media (min-width: 768px) {
  .co-navbar__category-list.active {
    background-color: #DCE1E5;
    border: 0;
    border-radius: 40px;
  }
}

.co-navbar__category-list {
  margin: 12px 0;
}

.co-navbar__category-list--item {
  color: #fff;
}

.co-navbar__search {
  aspect-ratio: 1/1;
  height: 32px;
  width: 32px;
}

.navbar-light .navbar-togglerx {
  border-color: #fff;
  border-radius: 100%;
  height: 43px;
  padding: 7px 10px 0 10px;
  width: 43px;
}

.navbar-toggler span {
  display: block;
  background-color: #fff;
  height: 2px;
  width: 22px;
  margin-top: 5px;
  margin-bottom: 5px;
  position: relative;
  left: 0;
  opacity: 1;
  transition: all 0.35s ease-out;
  transform-origin: center left;
}

.navbar-toggler span:nth-child(1) {
  margin-top: 0.3em;
}

.navbar-toggler:not(.collapsed) span:nth-child(1) {
  transform: translate(15%, -33%) rotate(45deg);
}

.navbar-toggler:not(.collapsed) span:nth-child(2) {
  opacity: 0;
}

.navbar-toggler:not(.collapsed) span:nth-child(3) {
  transform: translate(15%, 33%) rotate(-45deg) ;
}

.navbar-toggler span:nth-child(1) {
  transform: translate(0%, 0%) rotate(0deg) ;
}

.navbar-toggler span:nth-child(2) {
  opacity: 1;
}

.navbar-toggler span:nth-child(3) {
  transform: translate(0%, 0%) rotate(0deg) ;
}