.nc-signup {
  @extend %flex-center;
  height: 898px;

  &-left {
    padding: 2rem 1.5rem;

    @include screen(desktopLarge) {
      padding: 1rem 8rem;
    }

    &__title {
      @extend %font-32;
      margin-bottom: 2rem;
      text-align: start;
    }

    &__description {
      @extend %font-16;
    }

    &__option {
      @extend %font-14;
      color: $clr-text-200;
      margin-top: 2rem;
      overflow: hidden;
      text-align: center;

      & span {
        color: $clr-hr;
      }

      &:before,
      &:after {
        background-color: $clr-hr;
        content: "";
        display: inline-block;
        height: 1px;
        position: relative;
        vertical-align: middle;
        width: 50%;
      }

      &:before {
        right: 0.5em;
        margin-left: -50%;
      }

      &:after {
        left: 0.5em;
        margin-right: -50%;
      }
    }

    &__info {
      @extend %font-18;
      color: $clr-text-200;
      margin-top: 2rem;
      text-align: start;

      @include screen(desktop) {
        text-align: center;
      }

      &--link {
        @extend %font-18-bold;
        color: $clr-blue-200;
        text-decoration: underline;

        &:hover {
          color: darken($clr-blue-200, 5%);
        }
      }
    }

    &__form {
      min-height: auto;
      margin: 1rem 0;

      @include screen(desktop) {
        min-height: 360px;
      }
    }

    &__label {
      @extend %font-16-bold;
      margin-top: 1rem;
    }

    &__input {
      border: 1px solid $clr-hr;
      border-radius: 1.5rem;
      color: $clr-text-100;
      font-size: clamp(0.875rem, 3vw, 1rem);
      height: 3rem;
      margin-bottom: 4px;
      padding: 1rem;

      @include screen(desktop) {
        margin-bottom: 8px;
        padding: 1rem 2rem;
      }

      &--border {
        border-right-color: transparent;
      }

      &--icon {
        background-color: $clr-white;
        border-radius: 2.5rem;
        border-left-color: transparent;
        cursor: pointer;
        height: 3rem;
        padding: 1.125rem;
      }
    }

    &__message {
      @extend %font-12;
      color: $clr-red-200;
      letter-spacing: 0.005rem;
      line-height: 1rem;

      &::before {
        content: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.0605 9L12.5303 6.53025C12.6695 6.38931 12.7472 6.19903 12.7466 6.00096C12.746 5.80289 12.667 5.61311 12.5269 5.47305C12.3869 5.333 12.1971 5.25404 11.999 5.25342C11.801 5.2528 11.6107 5.33057 11.4697 5.46975L9 7.93945L6.53025 5.46975C6.38918 5.33122 6.19912 5.254 6.0014 5.25489C5.80369 5.25579 5.61433 5.33472 5.47453 5.47453C5.33472 5.61433 5.25579 5.80369 5.25489 6.00141C5.254 6.19912 5.33121 6.38918 5.46975 6.53025L7.93945 9L5.46975 11.4697C5.33121 11.6108 5.254 11.8009 5.25489 11.9986C5.25579 12.1963 5.33472 12.3857 5.47453 12.5255C5.61433 12.6653 5.80369 12.7442 6.0014 12.7451C6.19912 12.746 6.38918 12.6688 6.53025 12.5302L9 10.0605L11.4697 12.5303C11.6107 12.6695 11.801 12.7472 11.999 12.7466C12.1971 12.746 12.3869 12.667 12.5269 12.5269C12.667 12.3869 12.746 12.1971 12.7466 11.999C12.7472 11.801 12.6694 11.6107 12.5302 11.4697L10.0605 9Z' fill='white'/%3E%3Cpath d='M14.3028 3.69686C12.8963 2.29039 10.9888 1.50024 8.99972 1.50024C7.01067 1.50024 5.10309 2.29039 3.69662 3.69686C2.29015 5.10333 1.5 7.01091 1.5 8.99996C1.5 10.989 2.29015 12.8966 3.69662 14.3031C5.10309 15.7095 7.01067 16.4997 8.99972 16.4997C10.9888 16.4997 12.8963 15.7095 14.3028 14.3031C15.7093 12.8966 16.4994 10.989 16.4994 8.99996C16.4994 7.01091 15.7093 5.10333 14.3028 3.69686ZM12.53 11.4697C12.6006 11.5391 12.6569 11.6218 12.6954 11.7131C12.7339 11.8043 12.754 11.9023 12.7544 12.0014C12.7549 12.1004 12.7357 12.1986 12.698 12.2902C12.6603 12.3818 12.6048 12.465 12.5348 12.535C12.4648 12.6051 12.3815 12.6605 12.2899 12.6982C12.1983 12.7359 12.1002 12.7551 12.0011 12.7547C11.9021 12.7542 11.8041 12.7342 11.7128 12.6956C11.6216 12.6571 11.5389 12.6009 11.4695 12.5302L8.99972 10.0605L6.52997 12.5302C6.3889 12.6687 6.19883 12.746 6.00112 12.7451C5.80341 12.7442 5.61405 12.6652 5.47425 12.5254C5.33444 12.3856 5.2555 12.1963 5.25461 11.9986C5.25371 11.8008 5.33093 11.6108 5.46947 11.4697L7.93917 8.99996L5.46947 6.53021C5.33093 6.38915 5.25371 6.19908 5.25461 6.00137C5.2555 5.80366 5.33444 5.6143 5.47425 5.47449C5.61405 5.33469 5.80341 5.25575 6.00112 5.25485C6.19883 5.25396 6.3889 5.33118 6.52997 5.46971L8.99972 7.93942L11.4695 5.46967C11.6104 5.33049 11.8007 5.25273 11.9988 5.25336C12.1968 5.25399 12.3866 5.33295 12.5267 5.47301C12.6667 5.61308 12.7457 5.80286 12.7463 6.00093C12.7469 6.199 12.6691 6.38928 12.53 6.53021L10.0603 8.99996L12.53 11.4697Z' fill='%23F43636'/%3E%3C/svg%3E%0A");
        margin-right: 4px;
        position: relative;
        top: 4px;
      }
    }

    &__button {
      @extend %font-14;
      align-items: center;
      border-radius: 2.5rem;
      box-shadow: $shadow-white-soft;
      color: $clr-white;
      display: flex;
      height: 50px;
      justify-content: center;
      padding: 0.375rem;
      position: relative;
      width: 100%;

      &:hover,
      &:active,
      &:focus {
        @extend %transition-2s;
        color: $clr-white;
      }

      &--wrapper {
        @extend %flex-col-between;
        gap: 1rem;
        margin-top: 2rem;
        margin-bottom: 2rem;

        @include screen(desktopLarge) {
          flex-direction: unset;
        }
      }

      &--facebook {
        background: $clr-facebook;
        box-shadow: $shadow-blue-soft;

        &:hover {
          @extend %transition-2s;
          background: darken($clr-facebook, 5%);
          box-shadow: none;
        }
      }

      &--google {
        background: $clr-google;
        box-shadow: $shadow-blue-soft;

        &:hover {
          @extend %transition-2s;
          background: darken($clr-google, 5%);
          box-shadow: none;
        }
      }

      &--icon {
        @extend %image-render;
        aspect-ratio: 1/1;
        height: 2.5rem;
        left: 4px;
        position: absolute;
        width: 2.5rem;
      }

      &--end {
        margin-top: 2rem;
        margin-bottom: 2rem;
        text-align: end;
      }
    }

    &__action {
      width: 100%;

      @include screen(desktopLarge) {
        width: 200px;
      }
    }

    .nc-icon-eye-open,
    .nc-icon-eye-close {
      color: $clr-text-100;
    }
  }

  &-right {
    @extend %flex-col-center;
    background-image: url("data:image/svg+xml,%3Csvg width='320' height='620' viewBox='0 0 320 620' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M159.912 489.075C289.709 489.075 394.931 384.67 394.931 255.879C394.931 127.088 289.709 22.6824 159.912 22.6824C30.1139 22.6824 -75.1079 127.088 -75.1079 255.879C-75.1079 384.67 30.1139 489.075 159.912 489.075Z' stroke='%232199FA'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M159.828 -107.94C-42.535 -107.94 -206.576 54.7927 -206.576 255.526C-206.576 303.28 -197.291 348.884 -180.416 390.658H-181.495C-198.321 348.871 -207.576 303.271 -207.576 255.526C-207.576 54.2329 -43.0797 -108.94 159.828 -108.94C362.736 -108.94 527.232 54.2329 527.232 255.526C527.232 456.818 362.736 619.991 159.828 619.991C31.1763 619.991 -82.0336 554.394 -147.664 455.076V453.255C-82.3418 553.012 30.9743 618.991 159.828 618.991C362.191 618.991 526.232 456.258 526.232 255.526C526.232 54.7927 362.191 -107.94 159.828 -107.94Z' fill='%232199FA'/%3E%3C/svg%3E%0A"), $clr-grad-blue;
    background-position: center;
    background-repeat: no-repeat;
    height: auto;
    overflow: hidden;
    padding: 2rem;
    position: relative;
    text-align: center;

    @include screen(desktopLarge) {
      background-image: url("data:image/svg+xml,%3Csvg width='640' height='977' viewBox='0 0 640 977' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M320.003 818.972C503.638 818.972 652.503 671.226 652.503 488.972C652.503 306.718 503.638 158.972 320.003 158.972C136.368 158.972 -12.4971 306.718 -12.4971 488.972C-12.4971 671.226 136.368 818.972 320.003 818.972Z' stroke='%232199FA'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M319.885 1C81.4964 1 -117.232 169.466 -161.98 392.952H-163C-118.237 168.905 80.9473 0 319.885 0C558.823 0 758.008 168.905 802.771 392.952H801.751C757.003 169.466 558.274 1 319.885 1ZM780.189 659.241C710.446 844.236 530.669 975.945 319.885 975.945C109.101 975.945 -70.6753 844.236 -140.418 659.241H-141.487C-71.6965 844.803 108.544 976.945 319.885 976.945C531.227 976.945 711.467 844.803 781.258 659.241H780.189Z' fill='%232199FA'/%3E%3C/svg%3E"), $clr-grad-blue;
      height: 100%;
      padding: 5rem;
    }

    @include screen(desktopExtraLarge) {
      height: 100vh;
    }

    &__logo {
      @extend %image-render;
      height: auto;
      margin-bottom: 2rem;
      position: relative;
      right: 0;
      top: 0;
      width: auto;

      @include screen(desktopLarge) {
        height: auto;
        margin-bottom: 0;
        position: absolute;
        right: 3rem;
        top: 2rem;
        width: 245px;
      }
    }

    &__title {
      @extend %font-28-bold;
      color: $clr-white;
      margin-bottom: 1rem;
    }

    &__description {
      @extend %font-14;
      color: $clr-text-soft;
    }
  }
}
