.nc-tab {
  margin-bottom: 2.5rem;

  @include screen(desktop) {
    margin-bottom: 5rem;
  }

  &__list {
    border-bottom: 2px solid $clr-hr;
    justify-content: space-between;
    margin-bottom: 2.5rem;
    padding: 0;

    @include screen(desktop) {
      border-bottom: 2px solid $clr-hr;
      margin-bottom: 5rem;
      padding: 0;
    }

    &--item {
      margin-bottom: -2px;
      width: auto;

      @include screen(desktopLarge) {
        margin-bottom: -2px;
        width: 320px;
      }
    }
  }

  &__line {
    border-bottom: 2px solid $clr-hr;
  }

  &__title {
    color: $clr-text-100;
    display: block;
    font-family: 'NunitoSansBold', sans-serif;
    font-size: 1rem;
    letter-spacing: 0.005rem;
    line-height: 1.5rem;
    text-align: center;
    padding-bottom: 0.5rem;
    position: relative;

    @include screen(desktop) {
      font-family: 'NunitoSansBold', sans-serif;
      font-size: 1.25rem;
      letter-spacing: 0.02rem;
      line-height: 1.625rem;
      padding-bottom: 1.5rem;
    }

    &:hover {
      color: $clr-text-200;
    }

    &.active {
      border-bottom: 3px solid $clr-blue-200;
      color: $clr-text-400;
      cursor: pointer;
      overflow: hidden;
      position: relative;
      padding-bottom: 0.5rem;
      transition: width 0.3s ease 0s, left 0.3s ease 0s;

      @include screen(desktop) {
        background-color: transparent;
        border-bottom: 3px solid $clr-blue-200;
        border-radius: 0;
        color: $clr-text-400;
        padding-bottom: 1.5rem;
      }
    }
  }

  &__description {
    @extend %font-20;
    color: $clr-text-200;
    margin-bottom: 1.5rem;
  }

  &__mentor {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;

    &--title {
      @extend %font-24;
      margin-bottom: 2rem;
    }

    &--image {
      @extend %image-render;
      aspect-ratio: 1/1;
      height: 2.625rem;
      width: 2.625rem;
    }

    &--name {
      @extend %font-16-bold;
      margin-bottom: 0;
    }

    &--role {
      @extend %font-14;
      color: $clr-text-200;
      height: 1.5rem;
    }
  }
}