$sizes: 50;

@mixin margin-classes {
  @for $i from 1 through $sizes {
     $margin: $i * 0.25rem;
    /* margin #{$margin} */
    .nc-m-#{$i}  {margin: $margin;}
    .nc-ml-#{$i} {margin-left: $margin;}
    .nc-mr-#{$i} {margin-right: $margin;}
    .nc-mt-#{$i} {margin-top: $margin;}
    .nc-mb-#{$i} {margin-bottom: $margin;}
    .nc-mx-#{$i} {margin-left: $margin; margin-right: $margin;}
    .nc-my-#{$i} {margin-top: $margin; margin-bottom: $margin;}
  }
}

@include margin-classes;

@mixin padding-classes {
  @for $i from 1 through $sizes {
    $padding: $i * 0.25rem;
    /* padding #{$padding} */
    .nc-p-#{$i} {padding: $padding;}
    .nc-pl-#{$i} {padding-left: $padding;}
    .nc-pr-#{$i} {padding-right: $padding;}
    .nc-pt-#{$i} {padding-top: $padding;}
    .nc-pb-#{$i} {padding-bottom: $padding;}
    .nc-px-#{$i} {padding-left: $padding; padding-right: $padding;}
    .nc-py-#{$i} {padding-top: $padding; padding-bottom: $padding;}
  }
}

@include padding-classes;
