<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/dist/css/swipper.css">
  <link rel="stylesheet" href="/dist/css/app.css">
</head>
<body>
  <section class="nc-section-white">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <a href="#">
            <article class="nc-card nc-tooltip">
              <div class="nc-tooltip__info nc-tooltip__info--md nc-tooltip__info--right">
                <h2 class="nc-card__tooltip--title">Step by step belajar UX design untuk pemula</h2>
                <p class="nc-card__tooltip--info">Handri Hermawan | 13 Juni 2021</p>
                <p class="nc-card__tooltip--description">Nibh tristique euismod elementum commodo lectus venenatis, felis ornare fermentum. Mauris tristique quis dolor massa urna morbi nunc.</p>
                <ul class="nc-card__tooltip--list">
                  <li class="nc-card__tooltip--list-item">Lorem ipsum dolor sit amet.</li>
                  <li class="nc-card__tooltip--list-item">Lorem ipsum dolor sit amet.</li>
                  <li class="nc-card__tooltip--list-item">Lorem ipsum dolor sit amet.</li>
                  <li class="nc-card__tooltip--list-item">Lorem ipsum dolor sit amet.</li>
                  <li class="nc-card__tooltip--list-item">Lorem ipsum dolor sit amet.</li>
                </ul>
              </div>
              <img src="/src/images/card/thumb-1.png" loading="lazy" alt="image card" class="nc-card__image">
              <div class="nc-card__wrapper nc-card__wrapper--top">
                <h2 class="nc-card__title">Step by step belajar UX design untuk pemula</h2>
                <div class="nc-card__author">
                  <img src="/src/images/card/author.png" loading="lazy" alt="" class="nc-card__author--image">
                  <div>
                    <h3 class="nc-card__author--name">Handri Hermawan</h3>
                    <p class="nc-card__author--role">Web Developer</p>
                  </div>
                </div>
              </div>
              <div class="nc-card__wrapper nc-card__wrapper--progress">
                <hr class="nc-card__line">
                <div class="nc-card__progress-info">
                  <h3 class="nc-card__progress-info--title">Progress Kelas</h3>
                  <p class="nc-card__progress-info--percent">85%</p>
                </div>
                <div class="nc-card__progress--wrapper nc-card__progress--move">
                  <div class="nc-card__progress--bar" >
                  </div>                       
                </div>
              </div>
              <div class="nc-card__wrapper nc-card__wrapper--bottom">
                <a href="javascript:void(0);" class="nc-card__action--button nc-btn--sm nc-btn--primary">Lanjutkan Sesi</a>
              </div>
            </article>
          </a>
        </div>
        <div class="col-md-4">
          <a href="#">
            <article class="nc-card nc-tooltip">
              <div class="nc-tooltip__info nc-tooltip__info--md nc-tooltip__info--right">
                <h2 class="nc-card__tooltip--title">Step by step belajar UX design untuk pemula</h2>
                <p class="nc-card__tooltip--info">Handri Hermawan | 13 Juni 2021</p>
                <p class="nc-card__tooltip--description">Nibh tristique euismod elementum commodo lectus venenatis, felis ornare fermentum. Mauris tristique quis dolor massa urna morbi nunc.</p>
                <ul class="nc-card__tooltip--list">
                  <li class="nc-card__tooltip--list-item">Lorem ipsum dolor sit amet.</li>
                  <li class="nc-card__tooltip--list-item">Lorem ipsum dolor sit amet.</li>
                  <li class="nc-card__tooltip--list-item">Lorem ipsum dolor sit amet.</li>
                  <li class="nc-card__tooltip--list-item">Lorem ipsum dolor sit amet.</li>
                  <li class="nc-card__tooltip--list-item">Lorem ipsum dolor sit amet.</li>
                </ul>
              </div>
              <img src="/src/images/card/thumb-1.png" loading="lazy" alt="image card" class="nc-card__image">
              <div class="nc-card__wrapper nc-card__wrapper--top">
                <h2 class="nc-card__title">Step by step belajar UX design untuk pemula</h2>
                <div class="nc-card__author">
                  <img src="/src/images/card/author.png" loading="lazy" alt="" class="nc-card__author--image">
                  <div>
                    <h3 class="nc-card__author--name">Handri Hermawan</h3>
                    <p class="nc-card__author--role">Web Developer</p>
                  </div>
                </div>
              </div>
              <div class="nc-card__wrapper nc-card__wrapper--progress">
                <hr class="nc-card__line">
                <div class="nc-card__progress-info">
                  <h3 class="nc-card__progress-info--title">Progress Kelas</h3>
                  <p class="nc-card__progress-info--percent">85%</p>
                </div>
                <div class="nc-card__progress--wrapper nc-card__progress--move">
                  <div class="nc-card__progress--bar" >
                  </div>                       
                </div>
              </div>
              <div class="nc-card__wrapper nc-card__wrapper--bottom">
                <a href="javascript:void(0);" class="nc-card__action--button nc-btn--sm nc-btn--primary">Lanjutkan Sesi</a>
              </div>
            </article>
          </a>
        </div>
        <div class="col-md-4">
          <a href="#">
            <article class="nc-card nc-tooltip">
              <div class="nc-tooltip__info nc-tooltip__info--md nc-tooltip__info--left">
                <h2 class="nc-card__tooltip--title">Step by step belajar UX design untuk pemula</h2>
                <p class="nc-card__tooltip--info">Handri Hermawan | 13 Juni 2021</p>
                <p class="nc-card__tooltip--description">Nibh tristique euismod elementum commodo lectus venenatis, felis ornare fermentum. Mauris tristique quis dolor massa urna morbi nunc.</p>
                <ul class="nc-card__tooltip--list">
                  <li class="nc-card__tooltip--list-item">Lorem ipsum dolor sit amet.</li>
                  <li class="nc-card__tooltip--list-item">Lorem ipsum dolor sit amet.</li>
                  <li class="nc-card__tooltip--list-item">Lorem ipsum dolor sit amet.</li>
                  <li class="nc-card__tooltip--list-item">Lorem ipsum dolor sit amet.</li>
                  <li class="nc-card__tooltip--list-item">Lorem ipsum dolor sit amet.</li>
                </ul>
              </div>
              <img src="/src/images/card/thumb-1.png" loading="lazy" alt="image card" class="nc-card__image">
              <div class="nc-card__wrapper nc-card__wrapper--top">
                <h2 class="nc-card__title">Step by step belajar UX design untuk pemula</h2>
                <div class="nc-card__author">
                  <img src="/src/images/card/author.png" loading="lazy" alt="" class="nc-card__author--image">
                  <div>
                    <h3 class="nc-card__author--name">Handri Hermawan</h3>
                    <p class="nc-card__author--role">Web Developer</p>
                  </div>
                </div>
              </div>
              <div class="nc-card__wrapper nc-card__wrapper--progress">
                <hr class="nc-card__line">
                <div class="nc-card__progress-info">
                  <h3 class="nc-card__progress-info--title">Progress Kelas</h3>
                  <p class="nc-card__progress-info--percent">100%</p>
                </div>
                <div class="nc-card__progress--wrapper nc-card__progress--move">
                  <div class="nc-card__progress--complete" >
                  </div>                       
                </div>
              </div>
              <div class="nc-card__wrapper--flex">
                <a href="javascript:void(0);" class="nc-card__action--button nc-btn--sm nc-btn--primary">Unduh Sertifikat</a>
                <a href="javascript:void(0);" class="nc-card__action--button nc-btn--sm nc-btn-outline--primary">Lihat Course</a>
              </div>
            </article>
          </a>
        </div>
      </div>
    </div>
  </section>
</body>
</html>